body {
  background-color: purple;
  text-decoration: none;
}

h1 {
  color: blue;
  text-align: center;
  text-decoration: none;
  background-color: lavender;
}

h2 {
  font-size: 20px;
  color: blue;
  text-align: center;
  text-decoration: none;
}

div {
  padding: 25px 50px 75px 100px;
  background-color: pink;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
