body {
  margin: 30px auto;
  max-width: 1000px;
  font-family: @import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:700');
  line-height: 2;
  padding: 30px 25px;
  text-align: center;
}

h1 {
  padding: 20px 0px 10px 0px;
  font-family: @import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:700');
  color: #4364EC;
}

h3 {
  font-family: @import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:700');
  color: #4364EC;
}

a {
color: #4364EC;
text-decoration: none;
font-family: @import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:700');
}

/* Centers images */

img {
display: block;
margin: 0px auto;
}

/* When you put a period in front of a CSS declaration, it indicates you are
creating a new class. We can apply this to div elements to create different
portfolio entries */

.portfolio-item {
margin-top: 60px;
padding: 40px;
background-color: #f7f7f7;
}
